<eos-container ng-show="supportsCanvases && missingFilters.length > 0">
    <div class="effect-info alert alert-warning">
        <p><b>Warning!</b>
            Cannot find {{missingFilters.length}} filters in this effect. Ensure the correct profile or scene collection
            is loaded in OBS, and OBS is running.
        </p>
    </div>
</eos-container>
<setting-container ng-show="supportsCanvases && missingFilters.length > 0"
    header="Missing Filters ({{missingFilters.length}})" collapsed="true">
    <div ng-repeat="filter in missingFilters track by $index">
        <div class="list-item"
            style="display: flex;border: 2px solid #3e4045;box-shadow: none;border-radius: 8px;padding: 5px 5px;">
            <div class="pl-5">
                <span>Source: {{filter.sourceName}},</span>
                <span>Name: {{filter.filterName}},</span>
                <span>Action: {{getActionDisplay(filter.action)}}</span>
            </div>
            <div>
                <button class="btn btn-danger" ng-click="deleteMissingFilter(filter.sourceUuid, filter.filterName)"><i
                        class="far fa-trash"></i></button>
            </div>
        </div>
    </div>
</setting-container>

<eos-container header="Filters" pad-top="missingFilters.length > 0">
    <div class="effect-setting-container">
        <div class="input-group">
            <span class="input-group-addon">Filter</span>
            <input type="text" class="form-control" ng-change="filterSources(searchText)" ng-model="searchText"
                placeholder="Enter your search term here..." aria-describeby="obs-visibility-search-box">
        </div>
        <div style="margin-top: 10px;">
            <label class="control-fb control--checkbox">Only show selected
                <input type="checkbox" ng-model="onlyShowSelected" ng-change="updateOnlyShowSelected(onlyShowSelected)"
                    aria-label="Only show selected filters">
                <div class="control__indicator"></div>
            </label>
        </div>
    </div>
    <div>
        <button class="btn btn-link" ng-click="getSourceList()">Refresh Filter Data</button>
    </div>
    <div ng-if="supportsCanvases && sourceList != null && sourceList.length > 0" ng-show="matchingSources.includes(source.inputUuid)"
        ng-repeat="source in sourceList">
        <div style="font-size: 16px;color: #b9b9b9;margin-bottom: 5px;"><b>{{source.inputName}}</b> <span
                style="font-size: 13px;">({{formatSourceType(source.inputKind)}})</span></div>
        <div ng-repeat="filter in source.filters | filter: {filterName: searchText}"
            ng-show="!onlyShowSelected || filterIsSelected(source.inputUuid, filter.filterName)">
            <label class="control-fb control--checkbox">{{filter.filterName}}
                <input type="checkbox" ng-click="toggleFilterSelected(source.inputUuid, filter.filterName)"
                    ng-checked="filterIsSelected(source.inputUuid, filter.filterName)" aria-label="...">
                <div class="control__indicator"></div>
            </label>
            <div ng-show="filterIsSelected(source.inputUuid, filter.filterName)" style="margin-bottom: 15px;">
                <div class="btn-group" uib-dropdown>
                    <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
                        {{getFilterActionDisplay(source.inputUuid, filter.filterName)}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem" ng-click="setFilterAction(source.inputUuid, filter.filterName, true)"><a
                                href>Enable</a></li>
                        <li role="menuitem" ng-click="setFilterAction(source.inputUuid, filter.filterName, false)"><a
                                href>Disable</a></li>
                        <li role="menuitem" ng-click="setFilterAction(source.inputUuid, filter.filterName, 'toggle')"><a
                                href>Toggle</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="supportsCanvases && sourceList != null && sourceList.length > 0 && sourceListFiltered.length < 1"
        class="muted">
        No matching filters found.
    </div>
    <div ng-if="supportsCanvases && sourceList != null && sourceList.length < 1" class="muted">
        No sources with filters found.
    </div>
    <div ng-if="supportsCanvases && sourceList == null" class="muted">
        No sources found. Is OBS connected?
    </div>
</eos-container>

<div ng-if="supportsCanvases === null">
    <eos-container header="Unable to connect to OBS" pad-top="true">
        <p>Please ensure OBS is running and the Websocket server is properly configured.</p>
    </eos-container>
</div>

<div ng-if="supportsCanvases === false">
    <eos-container header="OBS Canvas Not Supported" pad-top="true">
        <p>Your version of OBS does not support canvases over Websocket. Please update to at least OBS 32.1.0</p>
    </eos-container>
</div>